\:root
  --cyan: hsl(179, 62%, 43%)
  --cyan-opacity: hsl(179, 47%, 52%)
  --bright-yellow: hsl(71, 73%, 54%)
  --light-gray: hsl(204, 43%, 93%)
  --grayish-blue: hsl(218, 22%, 67%)
  --white: #fff

  --font-size: 16px
  --line-height: 26px
  --font-family: 'Karla', sans-serif
  --font-size-md: 18px
  --line-height-md: 26px

  --padding: 2.5rem
  --margin: 1rem
  --border-radius: .3rem
  --shadow: rgba(17, 17, 26, 0.1) 0px 1px 0px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 48px

*,
*::after,
*::before
  margin: 0
  padding: 0
  box-sizing: border-box

html,
body
  min-height: 100vh
  background-color: var(--light-gray)

body,
p
  font-family: var(--font-family)
  line-height: var(--line-height)
  font-size: var(--font-size)
  color: var(--grayish-blue)

h2
  font-size: var(--font-size-md)
  line-height: var(--line-height-md)
  padding-top: 11px

.main-container
  height: 100%
  max-width: 1440px
  margin: 0 auto
  display: flex
  justify-content: center
  align-items: center
  //padding: var(--padding)

.card
  max-width: 630px
  box-shadow: var(--shadow)
  border-bottom-left-radius: var(--border-radius)
  border-bottom-right-radius: var(--border-radius)

  &-single-container
    padding: 40px 39px 45px
    background-color: var(--white)
    border-top-left-radius: var(--border-radius)
    border-top-right-radius: var(--border-radius)

  h1.card-title
    color: var(--cyan)
    font-size: 23px
    margin-bottom: 1.5rem
    line-height: 21px

  &-split
    &-container
      display: grid
      grid-template-columns: 1fr
      color: var(--white)
      
      p
        color: var(--white)

    &-primary
      padding: 25px 38px 33px
      background-color: var(--cyan)

      .suscription
        &-info
          display: flex
          flex-direction: column
          justify-content: space-between
          margin-top: 20px

        &-amount
          font-size: 2rem
          font-weight: 700
          display: inline-block
          margin-right: .5rem
        
        &-title
          color: var(--light-gray)
          opacity: .6

        &-description
          opacity: .9
          margin-top: 5px
          margin-bottom: 25px

    &-secondary
      padding: 25px 38px
      background-color: var(--cyan-opacity)
      border-bottom-left-radius: var(--border-radius)
      border-bottom-right-radius: var(--border-radius)

      p
        white-space: pre-line
        color: var(--light-gray)
        font-size: 14px
        line-height: 19.5px
        opacity: .9
        margin-top: 18px

.text-highlighted
  margin-bottom: 6px
  color: var(--bright-yellow)
  font-weight: 700
  font-size: 17.5px
  line-height: var(--line-height-md)

.cta
  padding: .8rem 1rem
  display: block
  width: 100%
  color: var(--white)
  background-color: var(--bright-yellow)
  border-radius: var(--border-radius)
  text-align: center
  text-decoration: none
  box-shadow: var(--shadow)
  font-weight: 700

  &:hover
    opacity: .9

  &:active,
  &:focus
    opacity: .8

@media screen and (min-width: 768px)
  html,
  body
    height: 100%

  .card
    &-split
      &-container
        grid-template-columns: repeat(2, 1fr)

      &-primary
        border-bottom-left-radius: var(--border-radius)

      &-secondary
        border-bottom-left-radius: 0
